* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

img {
    padding-top: -100px;
}

h1 {
    font-size: 15px;
    margin: 10px;
    color: rgb(165, 12, 12);
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    margin-top: 40px;
    border-radius: 20px;
}

button {
    display: block;
    height: 35px;
    background-color: rgb(42, 42, 42);
    width: 290px;
    --animate-duration: 1.5s;
    margin: 15px;
    color: aliceblue;
    border-radius: 15px;
    border: 0px solid;
    font-family: 'Montserrat', sans-serif;
    /* box-shadow: 2px 5px 2px gray; */
}

.container1 a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(59, 176, 255);
    transition: 0.5s;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    padding-top: 20px;
}